<div class="main-text wrapper">
  <% @maintexts.order(:order).each do |maintext| %>
      <% if maintext.isActive %>
          <div class="text">
            <%= maintext.text %>
          </div>
      <% end %>
  <% end %>
</div>

<h1 class="section-header nav-1">Ēdienkarte</h1>

<div class="menu wrapper">
  <div class="page">
    <ul class="group">
      <% @groups.each do |group| %>
          <li class="nav-item js-nav-item js-page" rel="page-<%=group.id%>"><%= group.text %></li>
      <% end %>
    </ul>
  </div>

  <% @groups.each do |group| %>
      <div class="page page-<%=group.id%>">
        <% if group.isActive %>
            <div class="group-title">
              <%= group.text %>
            </div>
            <% @foods.where(group_id: group.id).find_each do |food| %>
                <div class="food">
                  <div class="name">
                    <%= food.name %>
                  </div>
                  <div class="price">
                    <%= food.price %>
                  </div>
                  <div class="description">
                    <%= food.description %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>

<h1 class="section-header nav-2">Krodziņš 360&deg;</h1>

<%= render template: 'view/index' %>

<h1 class="section-header nav-3">Galerija</h1>

<div class="gallery wrapper">
  <% @pictures.each do |picture| %>
      <%= link_to image_tag(picture.url, alt: picture.url),  "assets/gallery/#{picture.url}", class: 'picture'%>
  <% end %>
  <div class="show-more">Parādīt vēl</div>
  <div class="hide-more">Paslēpt</div>
</div>

<h1 class="section-header nav-4">Kontakti</h1>

<%= render template: 'contacts/index' %>



