<div class= "form" >
  <% if flash[:alert] %>
      <p id= "notice" > <%= flash[:alert] %> </p>
  <% end %>

  <%= form_tag('/login') do %>
      <fieldset>

        <legend> L큰dzu pierakstieties </legend>

        <div>
          <%= label_tag :name, 'Lietot훮jv훮rds:' %>
          <%= text_field_tag :name, params[:name] %>
        </div>

        <div>
          <%= label_tag :password, 'Parole:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>

        <div>
          <%= submit_tag "Pierakst카ties", class:'btn btn-s btn-submit' %>
        </div>
      </fieldset>
  <% end %>
</div>
