<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="text">
      <%= f.label :text, 'Grupas nosaukums', class: 'label' %><br>
      <%= f.text_field :text, class: 'input' %>
    </div>

    <div class="order">
      <%= f.label :order, 'Grupēšanas secība?', class: 'label'%><br>
      <%= f.number_field :order, min: 1, class: 'input' %>
    </div>

    <div class="is-active">
      <%= f.label :isActive, 'Vai grupa ir redzama?', class: 'label'%><br>
      <%= f.check_box :isActive, class: 'input', checked: true %>
    </div>

  <div class="actions">
    <%= f.submit 'Saglabāt', class: 'submit-btn'%>
  </div>
<% end %>
