<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <div class="is-active">
      <%= f.label :isActive, 'Aktīva?'%><br>
      <%= f.check_box :isActive%>
    </div>

    <div class="name">
      <%= f.label :text, 'Grupas nosaukums'%><br>
      <%= f.text_field :text %>
    </div>

    <div class="is-active">
      <%= f.label :subIsActive, 'Aktīva?'%><br>
      <%= f.check_box :subIsActive%>
    </div>

    <div class="subname">
      <%= f.text_field :subgroup %>
    </div>

    <%= f.submit 'Saglabāt', class: 'submit-btn'%>
  </div>
<% end %>
