<div class="admin">
  <p id="notice">
    <%= notice %>
  </p>

  <h1>Grupu/apakšgrupu saraksts</h1>
  <div class="group-wrapper_full">
  <div class="group-wrapper">

    <% @groups.group(:text).order(:order).each do |group| %>

        <%= form_for(group) do |f| %>

            <div class="group">
              <div class="is-active">
                <%= f.check_box :isActive%>
              </div>

              <div class="name">
                <%= group.text %>

                <%= f.text_field :text, class: 'hidden' %>
              </div>

              <%= link_to 'Dzēst', group, class: 'delete', method: :delete, data: { confirm: 'Esi pārliecināts?' } %>
            </div>
       <% end %>

        <div class="subgroup-wrapper_full">
          <div class="subgroup-wrapper">

            <% @subgroups.where(group_id: group.id).find_each do |subgroups| %>

                <%= form_for(subgroups) do |editSub| %>

                    <div class="subgroup">
                      <div class="is-active">
                        <%= editSub.check_box :isActive%>
                      </div>

                      <div class="subname">
                        <%= subgroups.subgroup %>

                        <%= editSub.text_field :subgroup, class: 'hidden' %>
                      </div>

                      <%= link_to 'Dzēst', Subgroup.find(subgroups.id), class: 'delete', method: :delete, data: { confirm: 'Esi pārliecināts?' } %>
                </div>
                <% end %>
            <% end %>
          </div>

        <%= form_for(@subgroup) do |fSub| %>
            <%= fSub.text_field :group_id, value: group.id, class: 'hidden' %>
            <div class="is-active">
              <%= fSub.check_box :isActive%>
            </div>

            <div class="name">
              <%= fSub.text_field :subgroup %>
            </div>

            <%= fSub.submit 'Pievienot jaunu apakšgrupu', class: 'submit-btn'%>
        <% end %>
        </div>
    <% end %>
  </div>

  <%= form_for(@group) do |f| %>
      <div class="group">
        <div class="is-active">
          <%= f.label :isActive, 'Aktīva?'%><br>
          <%= f.check_box :isActive%>
        </div>

        <div class="name">
          <%= f.label :text, 'Grupas nosaukums'%><br>
          <%= f.text_field :text %>
        </div>
      </div>

      <%= f.submit 'Pievienot jaunu grupu', class: 'submit-btn'%>
  <% end %>
  </div>
</div>
