<div class="admin">
  <p id="notice">
    <%= notice %>
  </p>

  <h1>Grupu/apakšgrupu saraksts</h1>

  <%= form_tag update_multiple_groups_path, method: :put do %>
    <div class="group-wrapper">
      <% @groups.group(:text).order(:order).each do |group| %>
        <%= fields_for "groups[]", group do |f| %>
          <div class="group">
              <%= f.check_box :isActive, {checked: group.isActive} %>

              <div class="js-visible-group"><%= group.text%></div>

              <%= f.text_field :text, class: 'hidden js-hidden-group' %>

              <%= link_to 'Dzēst', group, class: 'delete', method: :delete, data: { confirm: 'Esi pārliecināts?' } %>

          <div class="subgroup-wrapper">
            <% @subgroups.where(group_id: group.id).order(:order).find_each do |subgroup| %>
              <%= fields_for "subgroups[]", subgroup do |f| %>
                <div class="subgroup">
                  <%= f.check_box :isActive %>

                  <div class="js-visible-group"><%= subgroup.subgroup %></div>

                  <%= f.text_field :subgroup, class: 'hidden js-hidden-group' %>

                  <%= link_to 'Dzēst', subgroup, class: 'delete', method: :delete, data: { confirm: 'Esi pārliecināts?' } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>

      <%= submit_tag 'saglabāt' %>
  <% end %>

  <%= form_for(@group) do |f| %>
      <div class="group">
        <div class="is-active">
          <%= f.label :isActive, 'Aktīva?'%><br>
          <%= f.check_box :isActive, {checked: true}%>
        </div>

        <div class="name">
          <%= f.label :text, 'Grupas nosaukums'%><br>
          <%= f.text_field :text %>
        </div>
      </div>

      <%= f.submit 'Pievienot jaunu grupu'%>
  <% end %>

  <%= form_for(@subgroup) do |f| %>
    <div class="subgroup">
      <%= f.check_box :isActive, {checked: true} %>

      <%= f.text_field :subgroup %>

      <%= f.collection_select :group_id, Group.all, :id, :text%>
    </div>

    <%= submit_tag 'Pievienot jaunu apakšgrupu' %>
  <% end %>
</div>
