<div class="admin">
  <p id="notice">
    <%= notice %>
  </p>

  <h1>Grupu/apakšgrupu saraksts</h1>

  <div class="group-wrapper">
    <% @groups.group(:text).each do |group| %>
      <%= form_for(group) do |f| %>
        <div class="group">
          <div class="is-active">
            <%= f.check_box :isActive%>
          </div>

          <div class="name">
            <%= group.text %>
            <%= f.text_field :text, class: 'hidden' %>
          </div>
        </div>

        <% @groups.where(text: group.text).find_each do |subgroups| %>
          <div class="subgroup">
            <div class="is-active">
              <%= f.check_box :subIsActive%>
            </div>

            <div class="subname">
              <%= subgroups.subgroup %>
              <%= f.text_field :subgroup, class: 'hidden' %>
            </div>
          </div>
        <% end %>

        <%= f.submit 'Saglabāt', class: 'submit-btn'%>
      <% end %>

      <%= form_for(@group) do |f2| %>
        <%= f2.text_field :text, value: group.text, class: 'hidden' %>

        <div class="subgroup">
          <div class="is-active">
            <%= f2.check_box :subIsActive %>
          </div>

          <div class="subname">
            <%= f2.text_field :subgroup, class: 'subgroup_new' %>
          </div>
        </diV>

        <%= f2.submit 'Saglabāt', class: 'submit-btn'%>
      <% end %>
    <% end %>
  </div>

    <%= render 'form' %>
  </div>
</div>
