<div class="admin users">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Lietot훮jv훮rds:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Parole:</strong>
    <%= @user.password_digest %>
  </p>

  <p>
    <strong>Akt카vs lietot훮js:</strong>
    <%= @user.isActive %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>

