<%= form_for @picture, html: { multipart: true } do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> neļauj saglabāt bildi:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="name">
      <%= f.label :name, 'Fails', class: 'label' %><br>
      <%= f.file_field :name  %>
    </div>

    <div class="order">
      <%= f.label :order, 'Bildes secība?', class: 'label'%><br>
      <% if @picture.order %>
          <%= f.number_field :order, min: 1 %>
      <% else %>
          <%= f.number_field :order, min: 1, class: 'input', value: Picture.all.length + 1 %>
      <% end %>
    </div>

    <div class="is-active">
      <%= f.label :isActive, 'Vai bilde ir redzama?', class: 'label'%><br>
      <%= f.check_box :isActive, class: 'input', checked: true %>
    </div>
  <div class="actions">
    <%= f.submit 'Saglabat', class: 'submit-btn' %>
  </div>
<% end %>
