<div class="admin pictures">
  <p id="notice"><%= notice %></p>

  <h1 class="">Bilžu saraksts</h1>

  <%= form_tag update_multiple_pictures_path, method: :put do %>

      <div class="pictures-wrapper">

        <% @pictures.order(:order).each do |picture| %>

            <%= fields_for "pictures[]", picture do |f| %>

                <div class="picture js-toggle-check <%= 'disabled' if !picture.isActive %>">
                  <%= image_tag picture.name.url %>

                  <%= f.number_field :order, {value: picture.order, class: 'order hidden'} %>

                  <%= f.check_box :isActive, {value: picture.isActive, class: 'is-active hidden'} %>
                </div>

            <% end %>

            <%= link_to 'Dzēst', picture, class: 'btn btn-xs btn-basic', method: :delete, data: { confirm: 'Esi pārliecināts?' } %>

        <% end %>

        <%= link_to 'Pievienot jaunu bildi', new_picture_path, class: 'btn btn-xs btn-basic' %>

      </div>

      <%= submit_tag 'Saglabāt izmaiņas', class:'btn btn-xs btn-basic' %>

  <% end %>

</div>

